<div class="row">
  <div class="col-lg-6 centered-col">
    <div id="el-arcos" class="circle-element">
      <div class="bg-dark">
          <h3>Arcos de la Frontera</h3>
          <p>Ya que estás aquí, ¿por qué no aprovechas y haces un poco de turismo?</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 centered-col">
    <div id="el-hotel" class="circle-element">
      <div class="bg-dark">
          <h3>Alojamientos</h3>
          <p>¿Buscas hotel? Estos son nuestras propuestas</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 centered-col">
    <div id="el-hotel" class="circle-element">
      <div class="bg-dark">
          <h3>Alojamientos</h3>
          <p>¿Buscas hotel? Estos son nuestras propuestas</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 centered-col">
    <div id="el-hotel" class="circle-element">
      <div class="bg-dark">
          <h3>Alojamientos</h3>
          <p>¿Buscas hotel? Estos son nuestras propuestas</p>
      </div>
    </div>
  </div>
</div>