<div class="row">
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-arcos">
        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-hotel"></div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-arcos"></div>
    </div>
  </div>  
</div>