.elem {
    border: 10px solid #fff;
    height: 200px;
    padding: 10px;
}

.elem h1 {
    color: #ffc107 !important;
    text-shadow: 1px 1px #1C1C1C;
    font-family: 'Great Vibes', cursive;
}

.todo {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s linear;
}

.todo:hover {
    opacity: 1;
}

#el-arcos {
    background-image: url(/assets/img/arcos.png);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

.title-arcos {
    text-align: left;
    margin-top: 37px;
    padding-left: 50px;
}

#el-hotel {
    background-image: url(/assets/img/hotel.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

.title-hotel {
    margin-top: 45px;
    text-align: right;
    transform: rotate(-20deg);
}

#el-peluqueria {
    background-image: url(/assets/img/peluqueria.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

.title-peluqueria {
    text-align: right;
}

#el-rosalejo {
    background-image: url(/assets/img/celebracion.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

.title-rosalejo {
    text-align: center;
}

#el-restaurante {
    background-image: url(/assets/img/restaurant.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

.title-restaurante {
    text-align: center;
}