.todo {

}

.elem {
    border: 10px solid #fff;
    height: 200px;
    padding: 50px;
}

.text-elem {
    
}

#el-arcos {
    background-image: url(/assets/img/arcos.png);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

#el-hotel {
    background-image: url(/assets/img/hotel.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}