.elem {
    border: 10px solid #fff;
    height: 200px;
    padding: 10px;
}

.elem h1 {
    color: #ffc107 !important;
    text-shadow: 1px 1px #1C1C1C;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 20px !important;
}

.todo {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s linear;
}

.todo:hover {
    opacity: 1;
}

#el-arcos {
    background-image: url(/assets/img/arcos.png);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

#el-hotel {
    background-image: url(/assets/img/hotel.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

#el-peluqueria {
    background-image: url(/assets/img/peluqueria.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

#el-rosalejo {
    background-image: url(/assets/img/celebracion.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

#el-restaurante {
    background-image: url(/assets/img/restaurant.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

#el-boda {
    background-image: url(/assets/img/gyn.jpg);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}