<div class="row">
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-arcos">
        <h1 class="title-arcos">Turismo</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-boda">
        <h1 class="title-boda">Nuestra boda</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-hotel">
        <h1 class="title-hotel">Hoteles</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-peluqueria">
        <h1 class="title-peluqueria">Peluquerías</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-rosalejo">
        <h1 class="title-rosalejo">Celebración</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-4 todo">
    <div class="row">
      <div class="col-lg-12 elem" id="el-restaurante">
        <h1 class="title-restaurante">Restaurante</h1>
      </div>
    </div>
  </div>  
</div>