.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #22705A;
    margin-top: 25px;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    text-align: center;
}