<app-navigation [showLogo]="true"></app-navigation>

<section class="section-hotel text-white" id="elSantiscal" (click)="elSantiscal()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="hotel-title font-nyg">Hacienda el Satiscal</h1>
      </div>
      <div class="col-lg-12 text-center">
        <p>Tranquila, rústica y acogedora</p>
      </div>
    </div>
  </div>
</section>

<section class="section-hotel text-white" id="posadaDeLasCuevas" (click)="posadaDeLasCuevas()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="hotel-title font-nyg">Hotel Posada de las Cuevas</h1>
      </div>
      <div class="col-lg-12 text-center">
        <p>Este coqueto y bonito hotel se sitúa en pleno centro de Arcos.</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>