<app-admin-navigation></app-admin-navigation>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 text-primary align-self-center"><fa name="user-circle" size="4x"></fa></div>
                            <div class="col-lg-8 text-left align-self-center">
                                <h3>72</h3>
                                <h5>Usuarios</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-3">
            
            </div>
            <div class="col-lg-3">
            
            </div>
        </div>
    </div>
</section>