.btn-invitation {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none !important;
    cursor: pointer;
    font-size: 50px;
    padding:10px;
}

.color-warning {
    color: #F4E16A !important;
}

.color-success {
    color: #22705A !important;
}

.row-top {
    margin-top: 20px;
}

.btn-warning {
    color: #fff !important;
}