.btn-warning {
    color: #fff;
}

.row-top {
    margin-top: 20px;
}

.scroll-comments {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll-comments > .row {
    display:block;
}

.comment {
    display: inline-block;
    float: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-text {
    white-space: normal;
}

.row-comment {
    padding: 5px;
}

.selected-comment {
    background-color: #eeeeee;
    border: solid 1px #848484;
}