.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,
        rgba(255,255,255,.1) 100%),url(/assets/img/rosalejo.jpg);
        background-repeat: repeat, repeat;
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-size: auto auto, auto auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}

#mainNav {
    border-bottom: 1px solid rgba(33,37,41,.1);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.msg-login {
    margin-top: 10px;
}

.shadow {
    text-shadow: 1px 1px #434B52;
}