.masthead {
    background-image: url(/assets/img/ng.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    height: 100vh;
    width: 100%
}

@media(max-width: 768px) {
    .masthead {
        background-size: 50%;
    }
}

.shadow {
    text-shadow: 1px 1px #434B52;
}

.nav-link {
    color: #121212 !important;
    font-size: 16px;
    line-height: normal;
    font-family: "futura-pt",Helvetica,Arial,sans-serif;
    color: #121212;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1.5rem;
    margin-right: 25px;
}

.nav-link:hover {
    text-decoration: underline;
}

.row-top{
    margin-top: 10px;
}