.btn-bus {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none !important;
    cursor: pointer;
    font-size: 43px;
    padding:10px;
}

.color-warning {
    color: 	#F4E16A !important;
}

.color-success {
    color: #384708 !important;
}

.btn-warning {
    color: #fff !important;
}