.btn-allergies {
    position: fixed;
    right: 20px;
    bottom: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none !important;
    cursor: pointer;
}

.allergy {
    opacity: 0.5;
    transition: all 0.3s linear;
    cursor: pointer;
}

.allergy:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}