.masthead {
    text-align: center;
    color: #fff;
    background-image: url(/assets/img/bckg-nyg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    min-height: 500px;
    background-color: #F9FEF7;
}

.intro-text {
    padding-top: 200px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

.bg-green {
    /*background-color: #145A32;*/
    background-color: #F9FEF7;
}

.section-margin {
    margin-top: 25px;
}

.divider {
    background-color: #22705A; 
    min-height: 200px;
}

.divider-text {
    margin-top: 45px;
    color: white;
}