<app-navigation [user]="user"></app-navigation>

<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in text-warning">
        <h1>Nuria y Gonzalo</h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <app-allergy [user]="user"></app-allergy>
        <app-confirm-presence [user]="user" (userEvent)="saveUserFromChild($event)"></app-confirm-presence>
        <app-invitation [user]="user" (userEvent)="saveUserFromChild($event)"></app-invitation>
        <app-bus [user]="user" (userEvent)="saveUserFromChild($event)"></app-bus>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid divider">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="divider-text text-white">
            <h1 class="font-nyg">¡Bienvenidos!</h1>
            <app-countdown></app-countdown>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="divider-text">
              <h1 class="font-nyg">¡Déjanos tu comentario!</h1>
              <app-comment [user]="user"></app-comment>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="bg-green section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-central></app-central>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>