<div class="row">
  <div class="col-lg-12">
      <ul class="timeline">
          <li class="timeline-element">
              <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
              </div>
              <div class="timeline-panel" id="tl-arcos">
                <div class="timeline-inline">
                  <div class="timeline-heading"></div>
                  <div class="timeline-body">
                      <h3>Arcos de la Frontera</h3>
                      <p class="toShow">Ya que estás aquí, ¿por qué no aprovechas y haces un poco de turismo?</p>
                  </div>
                  <div class="timeline-footer"></div>
                </div>
              </div>
          </li>
          <li class="timeline-inverted timeline-element">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle invert" id=""></i></a>
                </div>
                <div class="timeline-panel" id="tl-hotel">
                    <div class="timeline-inline">
                    <div class="timeline-heading"></div>
                    <div class="timeline-body">
                        <h3>Alojamientos</h3>
                        <p class="toShow">Alojamientos en Arcos</p>
                    </div>
                    <div class="timeline-footer"></div>
                    </div>
                </div>
            </li>
          
            <li class="timeline-element">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel" id="tl-peluqueria">
                    <div class="timeline-inline">
                    <div class="timeline-heading"></div>
                    <div class="timeline-body">
                        <h3>Peluquerías</h3>
                        <p class="toShow">¿Quieres arreglarte el pelo para venir estupendo a nuestra boda? Echa un vistazo a estas que te proponemos</p>
                    </div>
                    <div class="timeline-footer"></div>
                    </div>
                </div>
            </li>
          
          <li class="timeline-inverted">
              <div class="timeline-badge">
                  <a><i class="fa fa-circle invert" id=""></i></a>
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>Timeline Event</h4>
                  </div>
                  <div class="timeline-body">
                      <p>Volvitur ingreditur id ait mea vero cum autem quod ait Cumque ego illum vero cum unde beata. Commendavi si non dum est in. Dionysiadem tuos ratio puella ut casus, tunc lacrimas effunditis magister cives Tharsis. Puellae addita verbaque' capellam sanctissima quid, apollinem existimas filiam rex cum autem quod tamen adnuente rediens eam est se in. Peracta licet ad nomine Maria non ait in modo compungi mulierem volutpat.</p>
                  </div>
                  <div class="timeline-footer">
                      <p class="text-right">Feb-27-2014</p>
                  </div>
              </div>
          </li>
          
          <li>
              <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>Timeline Event</h4>
                  </div>
                  <div class="timeline-body">
                      <p>Adfertur guttae sapientiae ducitur est Apollonius ut a a his domino Lycoridem in lucem. Theophile atque bona dei cenam veniebant est cum. Iusto opes mihi Tyrum in modo compungi mulierem ubi augue eiusdem ordo quos vero diam omni catervis famulorum. Bene dictis ut diem finito servis unde.</p>
                  </div>
                  <div class="timeline-footer">
                      <p class="text-right">Mar-01-2014</p>
                  </div>
              </div>
          </li>
          
          <li  class="timeline-inverted">
              <div class="timeline-badge">
                  <a><i class="fa fa-circle invert" id=""></i></a>
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>Timeline Event</h4>
                  </div>
                  <div class="timeline-body">
                      <p>Crede respiciens loco dedit beneficio ad suis alteri si puella eius in. Acceptis codicello lenonem in deinde plectrum anni ipsa quod eam est Apollonius.</p>
                  </div>
                  <div class="timeline-footer primary">
                      <p class="text-right">Mar-02-2014</p>
                  </div>
              </div>
          </li>
          <li class="clearfix no-float"></li>
      </ul>
  </div>
</div>