.btn-presence {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none !important;
    cursor: pointer;
    padding:10px;
}

.btn-yellow {
    color: 	#F4E16A !important;
}

.btn-confirmed {
    color: #384708 !important;
}

.btn-warning {
    color: #fff !important;
}

.margin-top {
    margin-top: 15px;
}