.btn-presence {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none !important;
    cursor: pointer;
    padding:10px;
}

.btn-yellow {
    color: 	#E0AD34 !important;
}

.btn-confirmed {
    color: #22705A !important;
}

.btn-warning {
    color: #fff !important;
}