.navbar-gyn {
    background-color: #F9FEF7;
}

.navbar-brand {
    font-size: 40px !important;
}

.txt-gyn {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-weight: bold;
}

.nyg-link {
    font-weight: bold;
    border-bottom: 0px solid #ffc107;
    padding-bottom: 2px;
    color: #333333;
    transition: all linear 0.1s
}

.nyg-link:hover {
    text-decoration: underline;
}

.logout {
    color: #384708;
}